body {  
    margin:0px; padding:0px;  
    background-color:#131211;  
}  
  
#main {  
    background-color:#c4c0be;  
}  
#footer {  
    color:white;  
}  
.container {  
    width:960px;  
    margin:0 auto;  
    border:1px solid red;  
}