/********************* Photo Gallery *********************/
#product_gallery {
	width: 570px;
	float: left;
	
}

.module {
	border: 1px solid #dbdbdb;
	background: #fefefe;
	margin: 11px 0 0;
	
}

.module_top {
	
	width: 100%;
	overflow: hidden;
	line-height: 26px;
	background: #f2f2f2 url(../images/module_top.gif) repeat-x;
}

.module_top a, h5
{
	margin-left:10px;	
}

.module_top a:link,
.module_top a:visited,
.module_top a:hover,
.module_top a:active {
	font-size: 12px;
}

.module_bottom {
	padding: 5px 10px;
	border: solid #dbdbdb;
	border-width: 1px 0 0;
	font-size: 13px;
	color: #3c3f42;
	line-height: 18px;
	background:url(../images/module_bottom.gif) repeat-x;
}

.module_bottom a:link, .module_bottom a:visited, .module_bottom a:active {
	color: #6082b9;
	text-decoration: underline;
}

.module_bottom a:hover {
	text-decoration: none;
}

.gallery {
	width: 100%;
	overflow: hidden;
}

.gallery_inner {
	width: 570px;
	float: left;
}

.gallery dl {
	margin: 0;
	padding: 5px 10px 5px 0;
	float: left;
	width: 101px;
}

.gallery dt {
	margin: 0 0 1px;
	padding: 2px;
	background: #dbdbdb;
}

.gallery dt  strong {
	font-size: 9px;
	font-weight: normal;
	display: block;
	white-space: nowrap;
	width: 91px;
	overflow: hidden;
	padding: 0 3px;
}

.gallery dt a {
	display: block;
	
}

.gallery dt a img {
	display: block;
	border: 0;
}

.gallery dd {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: hidden;
	background: #f1f1f1;
}

.gallery dd em {
	float: left;
	display: block;
	white-space: nowrap;
	color: #a8a8a8;
	font-size: 9px;
	padding: 0 0 0 5px;
	font-style: normal;
	line-height: 16px;
}

.gallery dd ul {
	margin: 0;
	padding: 0 5px 0 0;
	float: right;
}

.gallery dd ul li {
	float: left;
	margin: 0;
	padding: 0 0 0 7px;
	list-style: none;
}

.gallery dd a:link,  .gallery dd a:visited, .gallery dd a:hover, .gallery dd a:active {
	display: block;
	width: 13px;
	height: 13px;
	overflow: hidden;
	text-indent: -3000px;
	float: left;
}

.edit_product {
	background:url(../images/edit_module.gif) no-repeat 1px 1px;
}

.delete_product {
	background:url(../images/action4.gif) no-repeat 1px 1px;
	
}

#product_gallery h5 {
	color: #3c3f42;
}

#product_gallery h5 span {
	color: #89898a;
	font-weight: normal;
	font-size: 11px;
}